.button {
  border-radius: var(--rounded-m);
  background-color: var(--primary);
  padding: 10px 25px;
  box-shadow: var(--box-shadow-primary);
  color: var(--secondary-on-surface);
  font-weight: var(--semi-bold);
}
