.options {
  position: absolute;
  border-radius: var(--rounded-s);
  display: none;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  top: calc(100% + 8px);
  left: 0;

  &.open {
    display: block;
  }
}

.option {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color var(--duration);
  cursor: pointer;

  &:hover {
    background-color: var(--color-gray-300);
  }

  &.selected {
    background-color: var(--color-gray-400);
  }
}

.check {
  width: 27px;
  height: 27px;
  margin-left: 15px;
}