.container {
  padding-top: 100px;
  z-index: var(--filters-z-index);
  position: relative;
}

.filters {
  display: flex;
  align-items: center;
}

.select:not(:last-child) {
  margin-right: 30px;
}
