.container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.list {
  display: grid;
  grid-gap: 20px;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;

  &.disabled {
    opacity: 0.6;
  }
}
